node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
!.env.example

/generated/prisma

.vercel
.env*.local

# Dumps e Logs temporarios
tmp/
tsconfig.tsbuildinfo
build_logs*.txt
lint_logs*.txt
ts_errors*.txt
vercel_*.txt
deploy_help.txt
prisma_generate.txt
*.json
!package.json
!tsconfig.json
!components.json
